
Final_fig/buffer_num_restaurants.pgw
Final_fig/buffer_num_restaurants.png
Final_fig/cluster_restau_price_resid.cpg
Final_fig/cluster_restau_price_resid.dbf
Final_fig/cluster_restau_price_resid.prj
Final_fig/cluster_restau_price_resid.shp
Final_fig/cluster_restau_price_resid.shx
Final_fig/clustered_buffer.cpg
Final_fig/clustered_buffer.dbf
Final_fig/clustered_buffer.prj
Final_fig/clustered_buffer.shp
Final_fig/clustered_buffer.shx
Final_fig/clustered_station.cpg
Final_fig/clustered_station.dbf
Final_fig/clustered_station.prj
Final_fig/clustered_station.shp
Final_fig/clustered_station.shx
Final_fig/copy_fig_0.png
Final_fig/copy_fig_2.png
Final_fig/copy_fig_3.png
Final_fig/copy_fig_4.png
Final_fig/copy_fig_5_0.png
Final_fig/copy_fig_5_1.png
Final_fig/copy_fig_5_2.png
Final_fig/copy_fig_5_3.png
Final_fig/landuse_0.pgw
Final_fig/landuse_0.png
Final_fig/landuse_1.pgw
Final_fig/landuse_1.png
Final_fig/landuse_1stonly_res.pgw
Final_fig/landuse_1stonly_res.png
Final_fig/landuse_2.pgw
Final_fig/landuse_2.png
Final_fig/landuse_2ndGeneral_res.pgw
Final_fig/landuse_2ndGeneral_res.png
Final_fig/landuse_4.pgw
Final_fig/landuse_4.png
Final_fig/landuse_ind+com.pgw
Final_fig/landuse_ind+com.png
Final_fig/landuse_nocap.pgw
Final_fig/landuse_nocap.png
Final_fig/landuse_total_res.pgw
Final_fig/landuse_total_res.png
Final_fig/landuse_withcap.pgw
Final_fig/landuse_withcap.png
Final_fig/Num_Restaurants_base.pgw
Final_fig/Num_Restaurants_base.png
Final_fig/price_total.pgw
Final_fig/price_total.png
Final_fig/Res_buildings.pgw
Final_fig/Res_buildings.png
Final_fig/Residential_building.cpg
Final_fig/Residential_building.dbf
Final_fig/Residential_building.prj
Final_fig/Residential_building.shp
Final_fig/Residential_building.shx
Final_fig/Residential_building_fixed.cpg
Final_fig/Residential_building_fixed.dbf
Final_fig/Residential_building_fixed.prj
Final_fig/Residential_building_fixed.shp
Final_fig/Residential_building_fixed.shx
Rawdata/Seoul_subway.dbf
Rawdata/Seoul_subway.prj
Rawdata/Seoul_subway.shp
Rawdata/Seoul_subway.shx
Final_fig/copy_fig_3.png
Final_fig/copy_fig_4.png
